* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px; /* Maximum width for larger screens */
    margin: auto; /* Center the container */
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px; /* Adjusted font size for headings */
}

.input-section {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"],
button,
textarea {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    width: 100%; /* Make input elements full width */
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.containerList {
    overflow-y: scroll;
}

ul {
    list-style: none;
    margin-top: 10px;
    padding: 0;
    max-height: 400px;
}

li {
    background: #f8f9fa;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li input {
    border: none;
    background: none;
    flex-grow: 1;
    font-size: 16px;
    padding: 5px;
}

li input:focus {
    outline: none;
    border-bottom: 1px solid #007bff;
}
li {
    background: #f8f9fa;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Allow the elements to stack */
}

li textarea {
    border: none;
    background: none;
    flex-grow: 1;
    font-size: 16px;
    padding: 5px;
    resize: none; /* Prevent resizing */
    height: auto; /* Adjust height to fit content */
}

li textarea:focus {
    outline: none;
    border-bottom: 1px solid #007bff;
}


li button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

li button:hover {
    background-color: #c82333;
}

.editBtn {
    background-color: #ffc107;
    margin-right: 10px;
}

.editBtn:hover {
    background-color: #e0a800;
}

@media (min-width: 600px) {
    li {
        flex-direction: row; /* Align items side by side on larger screens */
        align-items: center;
    }

    li textarea {
        height: 40px; /* Set a fixed height on larger screens */
    }

    button {
        width: auto; /* Make buttons size automatically */
        margin-left: 10px; /* Add space between buttons */
    }
}